<ion-view>
  <ion-nav-title>
    写日记
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear" ng-click="alert(1)">
      完成
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div>
      <div class="mg-center-bg">
        <div class="mg-center-img">
          <img src="./images/index-avd.jpg">
        </div>
        <div class="mg-center-name">爱丽丝</div>
        <div class="mg-center-id">ID:666666</div>
      </div>
    </div>
    <div class="list">
      <div class="item sc-item-two-c sc-item-two-diary">
        <div class="sc-left sc-left-avd">
          <img src="images/index-avd.jpg">
        </div>
        <div class="sc-right">
          <div class="sc-right-up">
            <div class="sc-right-icon">
              <img src="images/voice.png">
            </div>
            <span>2015-10-08 13:21</span>
          </div>
          <div class="sc-right-middle">
            <div class="uparr"></div>
            <div class="sc-right-middle-content">今天天气很好，将我的多肉拿到室外晒晒太阳，嫩绿色的叶子，好可爱！</div>
          </div>
          <div class="sc-right-down">
            <div class="sc-right-down-voice">
              <img src="images/voice-flower.png">
              <div>15''</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item sc-item-two-c sc-item-two-diary">
        <div class="sc-left sc-left-avd">
          <img src="images/1-0flower_15.png">
        </div>
        <div class="sc-right">
          <div class="sc-right-up">
            <div class="sc-right-icon">
              <img src="images/voice.png">
            </div>
            <span>2015-10-08 13:21</span>
          </div>
          <div class="sc-right-middle">
            <div class="uparr"></div>
            <div class="sc-right-middle-content">今天天气很好，将我的多肉拿到室外晒晒太阳，嫩绿色的叶子，好可爱！</div>
          </div>
          <div class="sc-right-down">
            <img src="images/1-0flower_15.png" class="sc-right-big-img">
          </div>

        </div>
      </div>
      <div class="item sc-item-two-c sc-item-two-diary">
        <div class="sc-left sc-left-avd">
          <img src="images/index-avd.jpg">
        </div>
        <div class="sc-right">
          <div class="sc-right-up">
            <div class="sc-right-icon">
              <img src="images/voice.png">
            </div>
            <span>2015-10-08 13:21</span>
          </div>
          <div class="sc-right-middle">
            <div class="uparr"></div>
            <div class="sc-right-middle-content">今天天气很好，将我的多肉拿到室外晒晒太阳，嫩绿色的叶子，好可爱！</div>
          </div>
        </div>
      </div>
    </div>

    <home-menu my-id="101"/>
  </ion-content>
</ion-view>
