<ion-view>
  <ion-nav-title>
    我的智慧花园
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-plus-outline" ng-click="gotoaddnew()">
    </button>
  </ion-nav-buttons>
  <ion-content class="stable-bg">
    <div class="bar bar-header item-input-inset royal-bg">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search"></i>
        <input type="search" placeholder="Search" ng-model="searchData.kw">
      </label>
    </div>
    <div>
      <div class="mg-center-bg">
        <div class="mg-center-img">
          <img src="./images/index-avd.jpg">
        </div>
        <div class="mg-center-name">爱丽丝</div>
        <div class="mg-center-id">ID:666666</div>
      </div>
    </div>
    <div class="row mg-plant-list stable-bg" ng-repeat="row in myplants | inSlicesOf:2">
      <div class="col col-50 mg-plant-block" ng-repeat="item in row">
        <div class="mg-plant-cell light-bg">
          <div class="index-p-pic">
            <a href="#/app/plants/{{item.id}}">
              <img ng-src="images/{{item.image}}">
            </a>
          </div>
          <div class="index-p-name">
            <div class="index-p-left">
              {{item.title}}
            </div>
            <div class="index-p-right">
              <i class="icon ion-edit main-color"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-box stable-bg">
      <a class="button light-bg button-block">
        <i class="ion-ios-plus-outline"></i>
        添加新植物
      </a>
    </div>
  </ion-content>
</ion-view>
