<ion-view>
  <ion-nav-title>
    小新的多肉
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="images/my/f1.jpeg">
      </div>
      <div class="item item-avatar">
        <img src="images/my/av1.jpg">

        <h2>蜡笔请小心</h2>

        <p>一见你就有好心情......</p>
      </div>
    </div>
    <div class="list card">
      <div class="item item-body">
        光照：
      </div>
      <div class="item item-avatar">
        pic
      </div>
    </div>
    <div class="list card">
      <div class="item item-body">
        水分：
      </div>
      <div class="item item-avatar">
        pic
      </div>
    </div>
  </ion-content>
</ion-view>
