<ion-view>
  <ion-nav-title>
    小新的多肉
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear" ng-click="$state.go('app.diary')">
      <i class="icon ion-ios-compose-outline"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div>
      <div class="plt-center-bg">
        <div class="plt-avd">
          <div class="plt-bl-img plt-left">
            <img src="./images/1-0flower_20.png">
          </div>
          <div class="plt-right">
            <div class="plt-bl-name">爱丽丝</div>
            <div class="plt-bl-id">ID:666666</div>
          </div>
        </div>
      </div>
      <div class="stable-bg">&nbsp;</div>
    </div>
    <div class="plt-diagram-box">
      <div class="plt-dgm-item">
        <div class="plt-dgm-left">
          光照指数 <i class="royal">90</i>
        </div>
        <div class="plt-dgm-right">推荐值 <i class="royal">100</i></div>
      </div>
      <div class="plt-dgm-title">近几日曲线图</div>
      <div class="plt-dgm-diagram">
        <div class=plt-dgm-diagram-canvas">
          <canvas id="canvas"></canvas>
        </div>
      </div>
      <div class="plt-dgm-tips">
        <div class="plt-dgm-tips-font stable-bg royal">
          阳光杠杆的，赞！
        </div>
      </div>
    </div>
    <div class="plt-diagram-box">
      <div class="plt-dgm-item">
        <div class="plt-dgm-left">
          光照指数 <i class="royal">90</i>
        </div>
        <div class="plt-dgm-right">推荐值 <i class="royal">100</i></div>
      </div>
      <div class="plt-dgm-title">近几日曲线图</div>
      <div class="plt-dgm-diagram">
        <div class=plt-dgm-diagram-canvas">
          <canvas id="canvas1"></canvas>
        </div>
      </div>
      <div class="plt-dgm-tips">
        <div class="plt-dgm-tips-font stable-bg royal">
          阳光杠杆的，赞！
        </div>
      </div>
    </div>
    <div class="plt-diagram-box">
      <div class="plt-dgm-item">
        <div class="plt-dgm-left">
          光照指数 <i class="royal">90</i>
        </div>
        <div class="plt-dgm-right">推荐值 <i class="royal">100</i></div>
      </div>
      <div class="plt-dgm-title">近几日曲线图</div>
      <div class="plt-dgm-diagram">
        <div class=plt-dgm-diagram-canvas">
          <canvas id="canvas2"></canvas>
        </div>
      </div>
      <div class="plt-dgm-tips">
        <div class="plt-dgm-tips-font stable-bg royal">
          阳光杠杆的，赞！
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
