<ion-view>
  <ion-nav-title>
    我的
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear">
    </button>
  </ion-nav-buttons>
  <ion-content class="stable-bg">
    <div class="list act-list">
      <a class="item item-icon-right" href="#">
        <h2>头像</h2>
        <span class="item-note royal act-avd">
          <img src="images/index-avd.jpg">
        </span>
        <i class="icon royal ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-right" href="#">
        <h3>昵称</h3>
        <span class="item-note act-item-font">
          what？
        </span>
        <i class="icon royal ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-right" href="#">
        <h3>绑定手机号</h3>

        <i class="icon royal ion-ios-arrow-right"></i>
      </a>

      <a class="item item-divider stable-bg pf-divider" href="#">

        <a class="item item-icon-right" href="#">
          <h3>修改密码</h3>

          <i class="icon royal ion-ios-arrow-right"></i>
        </a>
      </a>
    </div>
  </ion-content>
</ion-view>
