/* Empty. Add your own CSS if you like */

/* new ui goes here.*/
html {
  font-size: 100%;
}

body {
  font-size: 1em;
}

.main-color {
  color: #f9bdc9;
}

.sm-left {
  float: left;
}
.sm-right{
}
.sm-checkbox-small{
  padding:0;
  margin:0;
  height:auto;
  font-size:1em;
}

.sc-border-none{
  border:none;
}

.mg-center-bg {
  width: 100%;
  height: 9em;
  background-image: url(../images/home_bg_03.png);
}

.mg-center-bg div {
  text-align: center;
  padding: 0.1em;
}

.mg-center-bg img {
  margin-top: 0.75em;
  width: 5em;
  border-radius: 2.5em;
}

.mg-center-bg .mg-center-name {
  color: #333333;
  font-size: 1em;
}

.mg-center-bg .mg-center-id {
  color: #666666;
  font-size: 0.75em;
}

.mg-plant-list img {
  width: 100%;
  height: 7em;
  border-radius: 0.15em;
}

.mg-plant-list .index-p-name {
  background-color: white;
}

.mg-plant-list .index-p-name div {
  font-size: 0.98em;
}

.mg-plant-list .mg-plant-block {
}

.mg-plant-list .mg-plant-cell {
  border-radius: 0.2em;
  padding-bottom: 1.5em;
}

.mg-plant-list .index-p-left {
  float: left;
  padding: 0.05em 0.1em 0.05em 0.3em;
}

.mg-plant-list .index-p-right {
  float: right;
  padding: 0.05em 0.5em 0.05em 0.1em;
}

.mg-plant-list .index-p-right i {

}

.card-box {
  margin: 10px;
}

.homemenu{
  position: fixed;
  top: 25.4em;
  right: 0.5em;

  border:solid 1px #ff0000;
}

.homemenu div{
  border:solid 1px #ff0ff0;
}
.homemenu .home-icon {
  position: relative;
  top:0em;
  right:0em;
}

.homemenu .home-icon img {
  width: 4em;
}

.homemenu .home-icon-item{
  position: relative;
}

.homemenu .home-icon-item img {
  width: 3em;
}
/* plant add */
.plant-add-evn {
  border:none;
}

.plant-add-evn div {
  padding: 0px;
}

.sc-item-two-c {
  width: 100%;
  margin: 0 0 0.1em 0;
  padding: 1em 0.6em;
  border-top:none;
  border-bottom: solid 0.07em #f9bdc9;
}

.sc-item-two-c .sc-left {
  margin-top:0em;
  width: 5em;
  float:left;
}

.sc-item-two-c .sc-right {
  margin-left:5.5em;
}

.sc-item-two-c .sc-right input{
  background-color:#fff;
  color:#f582a1;
  width:100%;
  height:auto;
}

.sc-item-two-c .sc-right img{
  width:4em;
}
.sc-block-pink{
  background-color: #f582a1;
  padding:0.2em 0.5em;
  display:inline;
  border-radius: 0.2em;
  color:#fff;
}
.sc-grey {
  color: #d0d0d0;;
}
.sc-icon-font{
  color:#f582a1;
  font-size:1.5em;
}
